#logo-container img {
   width: 55%;
   height: auto;
align-content: center;

}

.container{

	text-align: center;
}
.foot{
    display: flex;
    align-items: center;
/*    justify-content: center;
*/    flex-direction: column;
    text-align: center;
    margin-right: 10%;
}
